@font-face {
    font-family:"Norse";
    src:url("/fonts/Norse/Norse.eot?") format("eot"), url("/fonts/Norse/Norse.woff") format("woff"), url("/fonts/Norse/Norse.ttf") format("truetype"), url("/fonts/Norse/Norse.svg#Norse") format("svg");
    font-weight:normal;
    font-style:normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#left {
    position: relative;
}

#background-img {
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    height: 100%;
    position: relative;
}

#banner {
    display: flex;
    flex-flow: row wrap;

    position: absolute;
    top: 30vh;
    left: 0;

    background-color: black;
    opacity: 50%;
    font-family: "Norse";
    color: white;


    width: 40vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

#odin-logo {
    height: 10vh;
}

/* Right Side */

#right {
    background-color: rgb(241, 241, 241);
    gap: 10px;
    width: 60vw;
    height: 100%;
    font-family:'Poppins', Tahoma, sans-serif;

}

.left-align {
    margin-left: 20px;
}

.preText {
    font-size: 1.35em;
    margin-left: 20px;
    padding-top: 20px;
}

#form-container {
    background-color: white;
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    margin-top: 50px;
    padding: 20px;
}

.formText {
    font-size: 1.35em;
}

#form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-item {
    font-size: 1rem;
    opacity: 75%;
    width: 18em;
    border-radius: 3px;

    margin-top: 20px;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
}

#showPassword {
    display: flex;
    align-items: center;
    font-weight: light;
    font-size: .65em;
    margin-left: 10px;
    height: 1.5em;
}

#pwMatch {
    display: none;
}

.match {
    color: red;
    font-weight: light;
    font-size: .65em;
    margin-left: 10px;
}

#message {
    margin-top: 20px;
    color: grey;
    position: relative;
    font-weight: 100;
    font-size: .75em;
    display: none;
}

.valid {
    color: green;
}

.valid:before {
  position: relative;
  content: "✅   ";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    content: "❌   ";
  }

#createbtn {
    margin-top: 20px;
}

.btn {
    width: 12.5em;
    padding: 5px;
    background-color: blue;
    border-radius: 3px;
    color: white;
}

#login {
    margin-top: 20px;
}

input:hover {
    outline: none;
    border-color: blue;
}
